*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(90deg,#333,#002147);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    height: 2.5rem;
    background-color: #333;
    font-size: large;
}
nav a{
    text-decoration: none;
    color: #f1f1f1;
    transition: all 0.5s ease;
}
nav a:hover{
    opacity: 10%;
    text-decoration: underline;
}
nav a:active{
    scale: 0.5;
}
.links{
    display: flex;
    gap: 1.5rem;
}
#menu{
    display: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
header h1{
    color: #f1f1f1;
    padding: 1rem;
}
.items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content:center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 1.5rem;
    border-radius: 0.8rem;
    min-height: 350px;
    width: 90%;
    max-width: 450px;
}
.items p{
    margin: 1.8rem 0 1rem 0;
}
.btns{
    display: flex;
    gap: 20px;
}
.btns button{
    padding: 0.7rem 1rem;
    width: 100%;
    color: #f1f1f1;
    background-color: indigo;
    border-radius: 0.6rem;
    border: none;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
}
#btn:hover{
    opacity: 85%;
}
#btn:active{
    scale: 0.5;
}
footer{
    display: flex;
    background-color: #333;
    height: 2rem;
    color: #f1f1f1;
    justify-content: center;
    align-items: center;
    font-weight: normal;
}
@media (max-width:600px){
    .links{
        display: none;
        flex-direction: column;
    }
    .links.active{
        display: flex;
        background-color: #333;
        align-items: center;
        padding: 0.5rem;
        top: 2rem;
        width: 100%;
        position: absolute;
        right: 0;
    }
    #menu{
        display: block;
    }
    footer{
        font-size: 12px;
    }
    .btns{
        flex-direction: column;
    }
}